.btn{
    outline: none;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
}
.btn-primary{
    color: black;
    border-color: brown;

}

input{
    width: 80%;
    height: 20px;
    padding: 5px;
}
